* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #ff9ce3, #4ab3ff);
  overflow: hidden;
  /* opacity: 0; */
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.welcome {
  font-size: 40px;
  font-weight: bold;
}

.nav-controls {
  display: flex;
}

.nav-options {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid white;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
  margin-left: 15px;
}

.card-container {
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 20px;
  /* background: lightblue; */
}

.card {
  width: 200px;
  height: 250px;
  padding: 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-heading {
  font-weight: bold;
  font-size: 20px;
}

.edit-note {
  height: 28px;
  cursor: pointer;
}

.edit-note > img {
  height: 100%;
  width: 100%;
}

.card-content {
  font-size: 14px;
  margin-top: 10px;
  /* background: blue; */
  width: 100%;
  height: 180px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
  word-break: break-word;
  overflow: scroll;
}
